:root{
    --seagreen: #2e8b57;
    --darkseagreen: #8fbc8f;
    --honeydew: #f0fff0;
}

*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: 	var(--honeydew);
}

/* ------HEADER----- */
header {
    overflow: hidden;

}

.highscore-btn{
    font-size: 30px;
    color: gray;
    border: 0;
    height: 60px;
}

.timer{
    float: right;
    display: flex;
    flex-direction: row;
    height: auto;
    font-size: 25px;
}

.timer h3 {
    color: gray;
}

#timer-count {
    text-align: center;
    margin: 21px;
    color: gray;
    align-items: center;
    vertical-align: middle;
}

/* -----MAIN----------------------- */
.card{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    text-align: center;
    color: #2e8b57;
    max-width: 700px;
    margin: auto;
}

.main-title {
    font-size: 70px;
}

.game-description {
    font-size: 25px;
    padding-bottom: 20px;
}

.start-btn{
    background-color: var(--seagreen);
    border: none;
    border-radius: 15px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    transition: all 0.2s ease-in-out;
}

.start-btn:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px var(--darkseagreen);
}

/*  QUESTION CARDS---------------------------------- */
#question-container,
#sign-score,
#view-highscores {
    display: none;
}

.quiz-question{
    font-size: 50px;
    text-align: left;
}

.answer-pool{
    
    padding: 0;
    margin: 0;
    height: 220px;
}

#answer-btn-a, 
#answer-btn-b,
#answer-btn-c,
#answer-btn-d {
    display: block;
    background-color: var(--seagreen);
    border: none;
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: left;
    text-decoration: none;
    font-size: 20px;
    transition: all 0.2s ease-in-out;
    margin-bottom: 10px;
    width: fit-content;
}

#answer-btn-a:hover, 
#answer-btn-b:hover,
#answer-btn-c:hover,
#answer-btn-d:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px var(--darkseagreen);
}

/* SIGN HIGHSCORE------------------------- */
.sign-score h3{
    background-color: white;
    width: 100px;
    justify-content: center;
    margin: auto;
    margin-bottom: 20px;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: white;
    text-align: center;
}

input[type=submit] {
    background-color: var(--seagreen);
    border: none;
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
}

/* VIEW HIGHSCORE----------------------------- */
.view-highscores h2 {
    font-size: 30px;
}

.go-back,
.clear-scores {
    background-color: var(--seagreen);
    border: none;
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    transition: all 0.2s ease-in-out;
}

.go-back,
.clear-scores:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px var(--darkseagreen);
}

table{
    background-color: floralwhite;
    border: 0;
    text-align: center;
    width: 279px;
}

.table-headers{
    font-size: 20px;
}