/* universal selector */
*{

}

/* -----BODY----- */

body{

}

/* ------HEADER----- */
header {
    color: gray;
    overflow: hidden;

}

.highscore-link{
    float: left;
}

.timer{
    float: right;
}

/* -----MAIN----- */
main{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.start-game{

}

.main-title {

}

.start-btn{

}

.quiz-cards{

}

.question{

}

.answer-btn{
    
}