/* universal selector */
:root{
    --seagreen: #2e8b57;
    --darkseagreen: #8fbc8f;
    --honeydew: #f0fff0;
}

*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: 	#f0fff0;
}

/* -----BODY----- */

body{

}

/* ------HEADER----- */
header {
    color: gray;
    overflow: hidden;

}

.highscore-link{
    float: left;
    line-height: 60px;

}

.timer{
    float: right;
    display: flex;
    flex-direction: row;
    height: auto;
    color: gray;
}

.timer-count {
    text-align: center;
    padding: 21px;
}

/* -----MAIN----- */
.card{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    text-align: center;
    color: #2e8b57;
    max-width: 500px;
    margin: auto;
}

.main-title {
    font-size: 50px;
}

.game-description {
    font-size: 18px;
    padding-bottom: 20px;
}

.start-btn{
    background-color: var(--seagreen);
    border: none;
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}

.quiz-cards{

}

.quiz-question{
    font-size: 30px;
    text-align: left;
}

.answer-pool{
    
    padding: 0;
    margin: 0;
    height: 220px;
}

.answer-btn{
    display: block;
    background-color: var(--seagreen);
    border: none;
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    font-size: 15px;
    transition: all 0.2s ease-in-out;
    margin-bottom: 10px;
}

.answer-btn:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px var(--darkseagreen);
}

.sign-score h3{
    background-color: white;
    width: 100px;
    justify-content: center;
    margin: auto;
    margin-bottom: 20px;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: white;
    text-align: center;
}

input[type=submit] {
    background-color: var(--seagreen);
    border: none;
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
}

.view-highscores h2 {
    font-size: 30px;
}

.go-back,
.clear-scores {
    background-color: var(--seagreen);
    border: none;
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
}

table{
    background-color: floralwhite;
    border: 0;
    text-align: center;
    width: 279px;
}

.table-headers{
    font-size: 20px;
}